@import "variables";

body {
  font-family: 'Rubik', sans-serif;
  background: #fafafa;
  color: lighten(#000, 0.5);
}

h1 {
  font-weight: 500;
}

.wrapper {
  max-width: 768px;
  margin: 40px auto;
}
